﻿@using System.Web.UI.HtmlControls
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Transport Project</h1>
    @Html.ActionLink("Generate City", "CityView", "City", null, new { @class = "btn btn-primary btn-lg" })

</div>

