﻿@model TransportProj.Dto.Dtos.CityDto

@Html.HiddenFor(c => c.XMax)
@Html.HiddenFor(c => c.YMax)

<div>
    <hr />
    @for (int yRow = 0; yRow < @Model.YMax; yRow++)

    {
        <table id="drawTemplate" border="1" cellspacing="0" cellpadding="4">
            <tr>
                @for (int xCol = 0; xCol < @Model.XMax; xCol++)

                {
                    @Html.HiddenFor(c => c.CityPositionDtos[yRow * @Model.YMax + xCol].PositionType)

                    if (@Model.CityPositionDtos[yRow * @Model.YMax + xCol].CarDto != null)
                    {
                        @Html.HiddenFor(c => c.CityPositionDtos[yRow * @Model.YMax + xCol].CarDto.XPos)
                        @Html.HiddenFor(c => c.CityPositionDtos[yRow * @Model.YMax + xCol].CarDto.YPos)
                        @Html.HiddenFor(c => c.CityPositionDtos[yRow * @Model.YMax + xCol].CarDto.CarType)
                    }
                    if (@Model.CityPositionDtos[yRow * @Model.YMax + xCol].PassengerDto != null)
                    {
                        @Html.HiddenFor(c => c.CityPositionDtos[yRow * @Model.YMax + xCol].PassengerDto.StartingXPos)
                        @Html.HiddenFor(c => c.CityPositionDtos[yRow * @Model.YMax + xCol].PassengerDto.StartingYPos)
                        @Html.HiddenFor(c => c.CityPositionDtos[yRow * @Model.YMax + xCol].PassengerDto.DestinationXPos)
                        @Html.HiddenFor(c => c.CityPositionDtos[yRow * @Model.YMax + xCol].PassengerDto.DestinationYPos)
                    }

                    <td width="100px" height="50px">
                        @Html.DisplayFor(c => @Model.CityPositionDtos[yRow * @Model.YMax + xCol])
                    </td>
                }

            </tr>
        </table>

    }

</div>
