﻿@model TransportProj.Dto.Dtos.CityPositionDto

<div>
    @if (@Model.CarDto != null)
    {
        @Html.DisplayFor(c => c.CarDto)
    }
</div>
<div>
    @if (@Model.PassengerDto != null)
    {
        @Html.DisplayFor(c => c.PassengerDto)
    }
</div>

@if (@Model.IsDestinationPosition)
{
    <div>
        @Html.Label("X")
    </div>
}