﻿@model TransportProj.Common.City

<div>
    <h4>City</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.YMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XMax)
        </dd>*@

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
