﻿@model TransportProj.Dto.Models.CityViewModel

@{
    ViewBag.Title = "CityView";
}


@using (Html.BeginForm("Tick", "City", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <h2>CityView</h2>

    <div>

        @if (@Model.CityDto != null)
        {
            @Html.DisplayFor(c => c.CityDto)
        }
    </div>

    <hr />

    <input type="submit" value="Tick" class ="btn btn-primary btn-lg"/>
}
